@{
    ViewData["Title"] = "Detalles de la publicación";
}

<h1 id="intro5">Contenido Exclusivo</h1>

<div class="container">
    <div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="product-card">
                    <img src="https://www.solbyte.com/blog/wp-content/uploads/iot.jpg" class="product-image" alt="Producto">
                    <h2>Titulo de la publicacion</h2>
                    <p>Bundle of 6 excel sheets for 3 phase power calculators.</p>
                    <p>
                        <a href="https://www.patreon.com/theengineeringmindset/shop"
                           class="btn btn-primary">Suscribete</a>
                    </p>
                    <p><strong>$3</strong></p>
                    <p>Fecha de publicacion: </p>
                </div>
            </div>
        </div>
    </div>

    
</div>
