@{
    ViewData["Title"] = "Privacy Policy";
}
<body id="cuerpo">
    <div>
        <div style="width: 100%; height: 250px; overflow: hidden;">
            <img src="https://image.civitai.com/xG1nkqKTMzGDvpLrqFT7WA/33deeac3-6797-4990-a40d-aa19089840ba/original=true,quality=90/00135.jpeg"
                 alt="Responsive image"
                 style="width: 100%; height: auto; object-fit: cover;">
        </div>
        <div class="header">
            <img src="https://image.civitai.com/xG1nkqKTMzGDvpLrqFT7WA/33deeac3-6797-4990-a40d-aa19089840ba/original=true,quality=90/00135.jpeg" 
            alt="Creador" class="profile-image">
            <h1>Nombre del Creador</h1>
            <p>Descripción breve del creador y su trabajo.</p>
        </div>

        <div class="text-center">
            <h2>Niveles de Membresía</h2>
            <div class="level">
                <h3>Nivel 1 - $1/mes</h3>
                <p>Acceso a contenido exclusivo y actualizaciones.</p>
                <button class="subscribe-button">Suscribirse</button>
            </div>
        </div>

        <div class="exclusive-content text-center">
            <h2>Contenido Exclusivo</h2>
            <p>Aquí se mostrarían publicaciones o contenido que solo los mecenas pueden ver.</p>
        </div>
    </div>
</body>