@{
    ViewData["Title"] = "Detalles de la publicación";
}

<h1 id="intro5">Contenido Exclusivo</h1>

<div>
    <div class="container">
        <div class="post-image-container">
            <img src="~/img/login.png" alt="Imagen destacada" class="post-image">
        </div>

        <div class="post-content-container">
            <h1 class="post-title">Título de la publicación</h1>
            <p class="post-date">Fecha de publicación</p>
            <p class="post-content">Contenido de la publicación</p>
            <div class="comments">
            </div>
        </div>
    </div>
</div>